img{
    width: 1.5vw;

}
.Karen_Page_{
    width: 10vw;
}

.hulk{
    width: 3vw;
    rotate: 60deg;
}
.backgroundImage{
    width: 90%;
    z-index: 1;
    position: absolute;
}
div{

    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
}

button{
    width: 2vw;
    height: 4vh;
    margin: 32.5% 33% ;
    background: rgba(0,0,0,0);
    border: none;
    position: absolute;

    z-index: 2;

}

.Button_Karen_Page_{
    width: 2vw;
    height: 4vh;
    margin: 20% 20% ;
    background: rgba(0,0,0,0);
    border: none;
    position: absolute;

    z-index: 2;
}
.Button_hulk{
    width: 2vw;
    height: 4vh;
    margin: 7% 21% ;
    background: rgba(0,0,0,0);
    border: none;
    position: absolute;

    z-index: 2;
}

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 5;
}

.modal_hulk{
    width: 100vw;
    height: 120vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 5;
}

.modal_hulk p{
    overflow: scroll;
    height: 70%;
}

.overlay {
    background: rgba(49,49,49,0.8);
    z-index: 5;
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    height: 40%;
    z-index: 5;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    z-index: 5;
}

.close-modal_Karen_Page_{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 80px 7px;
    z-index: 5;
}
.close-modal_hulk{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 250px 7px;
    z-index: 5;
}

.close{
    width: 10px;
    height: 10px;
    background-color: rebeccapurple;
    z-index: 6;
}

.time{
    width: 20%;
    height: 3%;
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 40%;
    margin-left: 40%;
}